# 🔒 Python cache
__pycache__/
*.py[cod]

# 🔒 Environment files
.venv/
venv/
.env

# 🔒 Models & large files
*.pt
*.ckpt
*.pkl
*.onnx
*.h5

# 🔒 Requirements (مش عايز ترفعه)
requirements.txt

# 🔒 Images
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.gif

# 🔒 System
.DS_Store
Thumbs.db

# 🔒 Jupyter Notebook stuff
*.ipynb_checkpoints/

# 🔒 VS Code
.vscode/

